<br/>
<div class="panel panel-primary">
    <div class="panel-heading">
        Register Forms
    </div>
    <div class="panel-body">
        <form #form="ngForm" (submit)="submitForm(form)">
            <div class="form-group">
                <label class="control-label">First Name</label>
                <input type="text"
                        class="form-control"
                        name="name"
                        [(ngModel)]="myEmployee.name"
                        required
                        #name="ngModel"/>
            </div>
            <div class="form-group" [class.has-error]="email.invalid">
                <label class="control-label">Email</label>
                <input type="text"
                        class="form-control"
                        [(ngModel)] = "myEmployee.email"
                        pattern="^([a-zA-Z0-9]+)@([a-zA-Z0-9]+)\.([a-zA-Z]{2,5})$"
                        name="email"
                        #email="ngModel"/>
            </div>
            <div class="alert alert-danger" *ngIf="email.invalid">
                Please Enter Valid Email
            </div>

            <div class="form-group" [class.has-error]="password.invalid">
                <label class="control-label">Password</label>
                <input type="password"
                        class="form-control"
                        name="password"
                        minlength = "8"
                        [(ngModel)] = "myEmployee.password"
                        #password="ngModel"/>
            </div>
            <div class="alert alert-danger" *ngIf="password.invalid">
                Min Length is 8
            </div>
            <div class="form-group"  >
                <label>Phone</label>
                <input type="text"
                        class="form-control"
                        name="phone"
                        [(ngModel)] = "myEmployee.phone"
                        />
            </div>
            <button type="submit" class="btn btn-success">
                Register
            </button>
        </form>
    </div>
</div>